body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(190, 190, 190);
  margin-bottom: 4rem;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
  max-width: 5rem;
}

td {
  text-align: center;
}
